In [2]:
import numpy as np
import pandas as pd

In [3]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [4]:
weather_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96450 entries, 0 to 96449
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96450 non-null  object
 1   Summary                   96450 non-null  object
 2   Precip Type               95930 non-null  object
 3   Temperature (C)           96450 non-null  float64
 4   Apparent Temperature (C)  96450 non-null  float64
 5   Humidity                  96450 non-null  float64
 6   Wind Speed (km/h)         96445 non-null  float64
 7   Wind Bearing (degrees)    96450 non-null  int64
 8   Visibility (km)           96442 non-null  float64
 9   Loud Cover                96450 non-null  int64
 10  Pressure (millibars)      96443 non-null  float64
 11  Daily Summary             96450 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 8.8+ MB

In [5]:
weather_hist.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [6]:
weather_hist.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96450.000000,96450.000000,96450.000000,96445.000000,96450.000000,96442.000000,96450.0,96443.000000
mean,11.932456,10.854838,0.734912,10.809563,187.507838,10.347331,0.0,1003.235465
std,9.551517,10.696820,0.195462,6.910700,107.384208,4.192359,0.0,116.975940
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,55.931400,359.000000,16.100000,0.0,1046.380000

In [7]:
print("Number of Columns in the Weather History Data frame:", weather_hist.shape[1])
print("Number of records in the Weather History data frame:", weather_hist.shape[0])

Number of Columns in the Weather History Data frame: 12
Number of records in the Weather History data frame: 96450

In [8]:
print ("Unique values are:\n",weather_hist.nunique())

Unique values are:
 Formatted Date              96426
Summary                        24
Precip Type                     4
Temperature (C)              7574
Apparent Temperature (C)     8984
Humidity                       90
Wind Speed (km/h)            2483
Wind Bearing (degrees)        360
Visibility (km)               949
Loud Cover                      1
Pressure (millibars)         4979
Daily Summary                 214
dtype: int64

In [9]:

duplicates = weather_hist[weather_hist.duplicated()]

# Print the number of duplicate rows, if any
num_duplicates = len(duplicates)
if num_duplicates > 0:
    print("\n")
    print(f"{num_duplicates} duplicate rows found in Weathe History Dataset.")
    print("\n")
    print(duplicates)
else:
    print("No duplicate rows found in WeatherHistory.")

24 duplicate rows found in Weathe History Dataset.


                      Formatted Date        Summary Precip Type  \
36071  2010-08-02 00:00:00.000 +0200          Clear        rain
36072  2010-08-02 01:00:00.000 +0200          Clear        rain
36073  2010-08-02 02:00:00.000 +0200          Clear        rain
36074  2010-08-02 03:00:00.000 +0200          Clear        rain
36075  2010-08-02 04:00:00.000 +0200          Clear        rain
36076  2010-08-02 05:00:00.000 +0200          Clear        rain
36077  2010-08-02 06:00:00.000 +0200          Clear        rain
36078  2010-08-02 07:00:00.000 +0200          Clear        rain
36079  2010-08-02 08:00:00.000 +0200          Clear        rain
36080  2010-08-02 09:00:00.000 +0200          Clear        rain
36081  2010-08-02 10:00:00.000 +0200          Clear        rain
36082  2010-08-02 11:00:00.000 +0200          Clear        rain
36083  2010-08-02 12:00:00.000 +0200          Clear        rain
36084  2010-08-02 13:00:00.000 +0200  Partly Cloudy        rain
36085  2010-08-02 14:00:00.000 +0200  Partly Cloudy        rain
36086  2010-08-02 15:00:00.000 +0200  Partly Cloudy        rain
36087  2010-08-02 16:00:00.000 +0200  Partly Cloudy        rain
36088  2010-08-02 17:00:00.000 +0200  Partly Cloudy        rain
36089  2010-08-02 18:00:00.000 +0200  Partly Cloudy        rain
36090  2010-08-02 19:00:00.000 +0200          Clear        rain
36091  2010-08-02 20:00:00.000 +0200          Clear        rain
36092  2010-08-02 21:00:00.000 +0200          Clear        rain
36093  2010-08-02 22:00:00.000 +0200  Partly Cloudy        rain
36094  2010-08-02 23:00:00.000 +0200          Clear        rain

       Temperature (C)  Apparent Temperature (C)  Humidity  Wind Speed (km/h)  \
36071        18.800000                 18.800000      0.93             6.2790
36072        18.222222                 18.222222      0.97             6.2790
36073        18.072222                 18.072222      0.98            11.2700
36074        16.622222                 16.622222      0.99             6.4400
36075        16.094444                 16.094444      0.99             3.0751
36076        15.955556                 15.955556      0.99             3.8801
36077        17.088889                 17.088889      1.00             6.4400
36078        20.822222                 20.822222      0.87             3.2200
36079        23.405556                 23.405556      0.74             1.8837
36080        26.050000                 26.050000      0.59             1.5939
36081        27.688889                 28.077778      0.50             0.2254
36082        28.561111                 29.588889      0.54             3.2039
36083        28.816667                 29.338889      0.49             1.6100
36084        28.866667                 29.044444      0.46             2.8175
36085        29.827778                 30.338889      0.47             8.0339
36086        30.072222                 30.527778      0.46             2.5921
36087        31.066667                 31.627778      0.44             1.3846
36088        30.861111                 31.361111      0.44             2.2540
36089        29.950000                 30.416667      0.46             3.0751
36090        28.811111                 30.616667      0.59             3.2039
36091        25.250000                 25.250000      0.75             2.4955
36092        22.172222                 22.172222      0.87             1.6100
36093        21.061111                 21.061111      0.90             0.0000
36094        20.255556                 20.255556      0.92             1.0787

       Wind Bearing (degrees)  Visibility (km)  Loud Cover  \
36071                     270          14.9086           0
36072                     291          14.9086           0
36073                     290           6.8425           0
36074                     300          11.9784           0
36075                     280          11.9784           0
36076                     276           9.9820           0
36077                     310           9.9820           0
36078                     300           9.9820           0
36079                     334           9.9820           0
36080                       5           9.9820           0
36081                     338           9.9820           0
36082                     288          10.3523           0
36083                      20           9.9820           0
36084                      33           9.9820           0
36085                     267          10.3523           0
36086                      92           9.9820           0
36087                     297           9.9820           0
36088                     325          10.3523           0
36089                     303           9.9820           0
36090                     351           9.9820           0
36091                     335          10.3523           0
36092                       0           9.9820           0
36093                       0          11.9784           0
36094                     326          14.1680           0

       Pressure (millibars)                                      Daily Summary
36071               1016.99  Partly cloudy starting in the afternoon contin...
36072               1017.09  Partly cloudy starting in the afternoon contin...
36073               1013.23  Partly cloudy starting in the afternoon contin...
36074               1016.78  Partly cloudy starting in the afternoon contin...
36075               1016.67  Partly cloudy starting in the afternoon contin...
36076               1016.69  Partly cloudy starting in the afternoon contin...
36077               1017.08  Partly cloudy starting in the afternoon contin...
36078               1017.27  Partly cloudy starting in the afternoon contin...
36079               1017.27  Partly cloudy starting in the afternoon contin...
36080               1017.15  Partly cloudy starting in the afternoon contin...
36081               1016.68  Partly cloudy starting in the afternoon contin...
36082               1016.58  Partly cloudy starting in the afternoon contin...
36083               1016.55  Partly cloudy starting in the afternoon contin...
36084               1015.99  Partly cloudy starting in the afternoon contin...
36085               1015.50  Partly cloudy starting in the afternoon contin...
36086               1014.97  Partly cloudy starting in the afternoon contin...
36087               1014.47  Partly cloudy starting in the afternoon contin...
36088               1014.08  Partly cloudy starting in the afternoon contin...
36089               1013.59  Partly cloudy starting in the afternoon contin...
36090               1013.19  Partly cloudy starting in the afternoon contin...
36091               1013.20  Partly cloudy starting in the afternoon contin...
36092               1013.49  Partly cloudy starting in the afternoon contin...
36093               1013.37  Partly cloudy starting in the afternoon contin...
36094               1013.00  Partly cloudy starting in the afternoon contin...

In [10]:
# Removing duplicated values
weather_hist.drop_duplicates(inplace=True)
# Again checking for duplicated values
print("Duplicated Values: ", weather_hist.duplicated().sum())

Duplicated Values:  0

In [11]:
#Printing the shape of dataset after deleting Duplicates
print("Number of Columns in the Weather History Data frame:", weather_hist.shape[1])
print("Number of records in the Weather History data frame:", weather_hist.shape[0])

Number of Columns in the Weather History Data frame: 12
Number of records in the Weather History data frame: 96426

In [12]:
# Checking missing values

# Check for null values in the DataFrame
null_values = weather_hist.isnull().sum()

# Print the count of null values in each column
print('Checking the NULL Values in  WeatherHistory Dataset..\n')

# Check if there are any null values
if null_values.sum() == 0:
    print(f'\n There are no null values in the given dataset.')
else:
    columns_with_null_values = null_values[null_values > 0].index.tolist()
    # Loop over the columns with null values and print the count of null values for each column
    for column in columns_with_null_values:
        count = null_values[column]
        print(f"Column '{column}' has {count} null values.")

Checking the NULL Values in  WeatherHistory Dataset..

Column 'Precip Type' has 520 null values.
Column 'Wind Speed (km/h)' has 5 null values.
Column 'Visibility (km)' has 8 null values.
Column 'Pressure (millibars)' has 7 null values.

In [13]:
# Handling missing values
weather_hist['Precip Type'].value_counts()

rain    85191
snow    10712
?           2
%           1
Name: Precip Type, dtype: int64

In [14]:
# Remove rows with missing values in 'Precip Type' column
weather_hist = weather_hist[(weather_hist['Precip Type'] != '?') & (weather_hist['Precip Type'] != '%')]

# Verify the changes
weather_hist['Precip Type'].value_counts()

rain    85191
snow    10712
Name: Precip Type, dtype: int64

In [15]:
# Remove rows with null values in specified columns
weather_hist = weather_hist.dropna(subset=['Precip Type', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)'])

In [16]:
# Re-check Handling Missing Values
missing_values = weather_hist.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [17]:
#Printing the shape of dataset after deleting Duplicates
print("Number of Columns in the Weather History Data frame:", weather_hist.shape[1])
print("Number of records in the Weather History data frame:", weather_hist.shape[0])

Number of Columns in the Weather History Data frame: 12
Number of records in the Weather History data frame: 95883

In [18]:
# Remove the 'Daily Summary' column from the DataFrame
weather_hist = weather_hist.drop('Daily Summary', axis=1)


Here are some reasons to justify deleting the 'Daily Summary' column from the entire dataset:

Irrelevance for Analysis: The 'Daily Summary' column contains textual descriptions of daily weather summaries. If your analysis focuses more on numerical weather data (such as temperature, humidity, etc.) rather than descriptive summaries, keeping this column may not add value to your analysis.

Reduced Memory Usage: Textual data can occupy more memory compared to numerical data. By removing the 'Daily Summary' column, you can reduce the overall memory usage of your dataset, which can be beneficial for large datasets or when working with memory-constrained environments.

Simplicity and Focus: Removing irrelevant columns can simplify your dataset and focus your analysis on the key variables of interest. This can make your analysis more manageable and easier to interpret.

Enhanced Performance: With fewer columns, operations on the dataset, such as calculations or transformations, may be faster and more efficient, leading to improved performance in data processing tasks.

Consistency and Standardization: By removing a column that contains descriptive text, you can ensure that your dataset remains consistent in terms of data types (e.g., numeric data) and standardizes the format for easier processing and analysis.

In [19]:
# Define a dictionary mapping current weather summaries to new categories
weather_mapping = {
    'Clear': 'Clear Skies',
    'Partly Cloudy': 'Cloudy Skies',
    'Mostly Cloudy': 'Cloudy Skies',
    'Overcast': 'Cloudy Skies',
    'Foggy': 'Foggy Day',
    'Breezy and Foggy': 'Foggy Day',
    'Windy and Foggy': 'Foggy Day',
    'Breezy': 'Breezy Day',
    'Breezy and Mostly Cloudy': 'Breezy Day',
    'Breezy and Partly Cloudy': 'Breezy Day',
    'Breezy and Overcast': 'Breezy Day',
    'Windy': 'Windy Day',
    'Windy and Mostly Cloudy': 'Windy Day',
    'Windy and Partly Cloudy': 'Windy Day',
    'Windy and Overcast': 'Windy Day',
    'Humid and Mostly Cloudy': 'Humid Day',
    'Humid and Partly Cloudy': 'Humid Day',
    'Humid and Overcast': 'Humid Day',
    'Dry': 'Dry Day',
    'Dry and Mostly Cloudy': 'Dry Day',
    'Dry and Partly Cloudy': 'Dry Day',
    'Light Rain': 'Rainy Day',
    'Drizzle': 'Rainy Day',
    'Rain': 'Rainy Day'
}

# Create a new column 'Weather Category' based on the mapping
weather_hist['Summary'] = weather_hist['Summary'].map(weather_mapping)

# Display the value counts of the new column
print(weather_hist['Summary'].value_counts())

Cloudy Skies    76035
Clear Skies     10744
Foggy Day        7155
Breezy Day       1484
Windy Day         155
Dry Day           134
Rainy Day         112
Humid Day          64
Name: Summary, dtype: int64

In [20]:
# Verify the changes
weather_hist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95883 entries, 0 to 96449
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            95883 non-null  object
 1   Summary                   95883 non-null  object
 2   Precip Type               95883 non-null  object
 3   Temperature (C)           95883 non-null  float64
 4   Apparent Temperature (C)  95883 non-null  float64
 5   Humidity                  95883 non-null  float64
 6   Wind Speed (km/h)         95883 non-null  float64
 7   Wind Bearing (degrees)    95883 non-null  int64
 8   Visibility (km)           95883 non-null  float64
 9   Loud Cover                95883 non-null  int64
 10  Pressure (millibars)      95883 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 8.8+ MB

In [21]:
from datetime import datetime

# Define the format string for the date
format_string = "%Y-%m-%d %H:%M:%S.%f %z"

# Function to check if a value is in the correct format
def check_date_format(value):
    try:
        datetime.strptime(value, format_string)
        return True
    except ValueError:
        return False

# Apply the function to each value in the 'Formatted Date' column and create a new column 'is_valid_date'
weather_hist['is_valid_date'] = weather_hist['Formatted Date'].apply(check_date_format)

# Filter the DataFrame to show only rows where 'is_valid_date' is False
invalid_dates = weather_hist[~weather_hist['is_valid_date']]

# Display the rows with invalid dates
print("Rows with invalid dates:")
print(invalid_dates[['Formatted Date', 'is_valid_date']])

Rows with invalid dates:
Empty DataFrame
Columns: [Formatted Date, is_valid_date]
Index: []

In [22]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Label encode object columns
object_columns = ['Summary', 'Precip Type']
for col in object_columns:
    weather_hist[col+'_encoded'] = label_encoder.fit_transform(weather_hist[col])

# Convert 'Formatted Date' to datetime format with utc=True
weather_hist['Formatted Date'] = pd.to_datetime(weather_hist['Formatted Date'], utc=True)

# Extract year, month, day, and hour
weather_hist['Year'] = weather_hist['Formatted Date'].dt.year
weather_hist['Month'] = weather_hist['Formatted Date'].dt.month
weather_hist['Day'] = weather_hist['Formatted Date'].dt.day
weather_hist['Hour'] = weather_hist['Formatted Date'].dt.hour

# Create dictionaries for mapping encoded values to original labels
summary_mapping = dict(zip(weather_hist['Summary_encoded'], weather_hist['Summary']))
precip_mapping = dict(zip(weather_hist['Precip Type_encoded'], weather_hist['Precip Type']))

# Display the updated DataFrame and the mapping dictionaries
print("Weather History DataFrame:")
weather_hist[['Summary', 'Precip Type', 'Summary_encoded', 'Precip Type_encoded', 'Year', 'Month', 'Day', 'Hour']].head()

Weather History DataFrame:

,Summary,Precip Type,Summary_encoded,Precip Type_encoded,Year,Month,Day,Hour
0,Cloudy Skies,rain,2,0,2006,3,31,22
1,Cloudy Skies,rain,2,0,2006,3,31,23
2,Cloudy Skies,rain,2,0,2006,4,1,0
3,Cloudy Skies,rain,2,0,2006,4,1,1
4,Cloudy Skies,rain,2,0,2006,4,1,2

In [23]:
weather_hist

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),is_valid_date,Summary_encoded,Precip Type_encoded,Year,Month,Day,Hour
0,2006-03-31 22:00:00+00:00,Cloudy Skies,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,True,2,0,2006,3,31,22
1,2006-03-31 23:00:00+00:00,Cloudy Skies,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,True,2,0,2006,3,31,23
2,2006-04-01 00:00:00+00:00,Cloudy Skies,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,True,2,0,2006,4,1,0
3,2006-04-01 01:00:00+00:00,Cloudy Skies,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,True,2,0,2006,4,1,1
4,2006-04-01 02:00:00+00:00,Cloudy Skies,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,True,2,0,2006,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96445,2016-09-09 17:00:00+00:00,Cloudy Skies,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,True,2,0,2016,9,9,17
96446,2016-09-09 18:00:00+00:00,Cloudy Skies,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,True,2,0,2016,9,9,18
96447,2016-09-09 19:00:00+00:00,Cloudy Skies,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,True,2,0,2016,9,9,19
96448,2016-09-09 20:00:00+00:00,Cloudy Skies,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,True,2,0,2016,9,9,20
96449,2016-09-09 21:00:00+00:00,Cloudy Skies,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,True,2,0,2016,9,9,21

In [24]:
print("\nSummary Mapping:")

summary_mapping

Summary Mapping:

{2: 'Cloudy Skies',
 4: 'Foggy Day',
 0: 'Breezy Day',
 1: 'Clear Skies',
 5: 'Humid Day',
 7: 'Windy Day',
 3: 'Dry Day',
 6: 'Rainy Day'}

In [25]:
weather_hist['Summary'].value_counts()

Cloudy Skies    76035
Clear Skies     10744
Foggy Day        7155
Breezy Day       1484
Windy Day         155
Dry Day           134
Rainy Day         112
Humid Day          64
Name: Summary, dtype: int64

In [26]:
print("\nPrecip Type Mapping:")


precip_mapping

Precip Type Mapping:

{0: 'rain', 1: 'snow'}

In [27]:
# Assuming 'weather_hist' is your DataFrame

# Use factorize to encode 'Summary' and 'Precip Type' columns
weather_hist['Summary_encoded'], summary_mapping_index = weather_hist['Summary'].factorize()
weather_hist['Precip Type_encoded'], precip_mapping_index = weather_hist['Precip Type'].factorize()

# Display the mapping indexes
print("Summary Mapping Index:")
print(summary_mapping_index)

print("\nPrecip Type Mapping Index:")
print(precip_mapping_index)

Summary Mapping Index:
Index(['Cloudy Skies', 'Foggy Day', 'Breezy Day', 'Clear Skies', 'Humid Day',
       'Windy Day', 'Dry Day', 'Rainy Day'],
      dtype='object')

Precip Type Mapping Index:
Index(['rain', 'snow'], dtype='object')

In [28]:
# Assuming df is your DataFrame

# Get the unique values in the 'Summary' column before encoding
summary_unique_values = weather_hist['Summary'].unique()

# Get the unique values in the 'Precip Type' column before encoding
precip_unique_values = weather_hist['Precip Type'].unique()

# Display the unique values
print("Unique values in 'Summary' column before encoding:")
print(summary_unique_values)

print("\nUnique values in 'Precip Type' column before encoding:")
print(precip_unique_values)

Unique values in 'Summary' column before encoding:
['Cloudy Skies' 'Foggy Day' 'Breezy Day' 'Clear Skies' 'Humid Day'
 'Windy Day' 'Dry Day' 'Rainy Day']

Unique values in 'Precip Type' column before encoding:
['rain' 'snow']

In [29]:
# Drop original categorical columns
weather_hist = weather_hist.drop(columns=['Summary', 'Precip Type', 'Formatted Date'])

# Display the updated DataFrame
print("Encoded Weather History DataFrame:")
weather_hist.head()

Encoded Weather History DataFrame:

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),is_valid_date,Summary_encoded,Precip Type_encoded,Year,Month,Day,Hour
0,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,True,0,0,2006,3,31,22
1,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,True,0,0,2006,3,31,23
2,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,True,0,0,2006,4,1,0
3,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,True,0,0,2006,4,1,1
4,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,True,0,0,2006,4,1,2

In [30]:
weather_hist['is_valid_date'].value_counts().get(False, 0)

0

In [31]:
weather_hist.shape

(95883, 15)

In [32]:
# Assuming df is your DataFrame
columns_to_remove = ['is_valid_date']
weather_hist = weather_hist.drop(columns=columns_to_remove)

# Display the updated DataFrame
weather_hist.head()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Summary_encoded,Precip Type_encoded,Year,Month,Day,Hour
0,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,0,0,2006,3,31,22
1,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,0,0,2006,3,31,23
2,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,0,0,2006,4,1,0
3,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,0,0,2006,4,1,1
4,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,0,0,2006,4,1,2

In [33]:
# Rename the columns
weather_hist = weather_hist.rename(columns={'Summary_encoded': 'Summary', 'Precip Type_encoded': 'Precip Type'})

# Display the updated DataFrame
print("Updated Weather History DataFrame:")
weather_hist.head()

Updated Weather History DataFrame:

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Summary,Precip Type,Year,Month,Day,Hour
0,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,0,0,2006,3,31,22
1,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,0,0,2006,3,31,23
2,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,0,0,2006,4,1,0
3,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,0,0,2006,4,1,1
4,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,0,0,2006,4,1,2

In [34]:
weather_hist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95883 entries, 0 to 96449
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temperature (C)           95883 non-null  float64
 1   Apparent Temperature (C)  95883 non-null  float64
 2   Humidity                  95883 non-null  float64
 3   Wind Speed (km/h)         95883 non-null  float64
 4   Wind Bearing (degrees)    95883 non-null  int64
 5   Visibility (km)           95883 non-null  float64
 6   Loud Cover                95883 non-null  int64
 7   Pressure (millibars)      95883 non-null  float64
 8   Summary                   95883 non-null  int64
 9   Precip Type               95883 non-null  int64
 10  Year                      95883 non-null  int64
 11  Month                     95883 non-null  int64
 12  Day                       95883 non-null  int64
 13  Hour                      95883 non-null  int64
dtypes: float64(6), int64(8)
memory usage: 11.0 MB

In [35]:
missing_values = weather_hist.isnull().sum()
print("Missing values:")
missing_values

Missing values:

Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Summary                     0
Precip Type                 0
Year                        0
Month                       0
Day                         0
Hour                        0
dtype: int64

In [36]:
duplicate_rows = weather_hist[weather_hist.duplicated()]
print("\nDuplicate rows:")
duplicate_rows

Duplicate rows:

Empty DataFrame
Columns: [Temperature (C), Apparent Temperature (C), Humidity, Wind Speed (km/h), Wind Bearing (degrees), Visibility (km), Loud Cover, Pressure (millibars), Summary, Precip Type, Year, Month, Day, Hour]
Index: []

In [37]:
null_values = weather_hist.isna().sum()
print("\nNull values:")
null_values

Null values:

Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Summary                     0
Precip Type                 0
Year                        0
Month                       0
Day                         0
Hour                        0
dtype: int64

In [38]:
cl0 = weather_hist.query('Summary == 0 or Summary == 1 or Summary == 2')
cl1 = weather_hist.query('Summary == 3 or Summary == 4 or Summary == 5 or Summary == 6 or Summary == 7')

In [39]:
cl1['Summary'] = cl1['Summary'].map({3:0,4:1,5:2,6:3,7:4})

C:\Users\student\AppData\Local\Temp\ipykernel_8720\3072624506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cl1['Summary'] = cl1['Summary'].map({3:0,4:1,5:2,6:3,7:4})

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import optuna
from sklearn.model_selection import cross_val_score

# Split the dataset into features (X) and target variable (y)
X = cl0.drop(['Summary'], axis=1)
y = cl0['Summary']



# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


def objective(trial):
    param = {
        'objective': 'multi:softmax',
        'num_class': 3,
        'eval_metric': 'mlogloss',
        'eta': trial.suggest_float('eta', 0.01, 0.3),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0, 0.5),
        'verbosity': 0
    }

    model = AdaBoostClassifier(**param)
    scores = cross_val_score(model, X, y, cv=5)
    accuracy = scores.mean()
    return accuracy

In [ ]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

# Use the best hyperparameters found by Optuna
best_params = study.best_params
model = AdaBoostClassifier(**best_params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

# Generate confusion matrices
train_conf_matrix = confusion_matrix(y_train, y_train_pred)
test_conf_matrix = confusion_matrix(y_test, y_test_pred)

# Generate classification reports
train_classification_report = classification_report(y_train, y_train_pred)
test_classification_report = classification_report(y_test, y_test_pred)

# Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

print("\nTrain Confusion Matrix:")
print(train_conf_matrix)

print("\nTest Confusion Matrix:")
print(test_conf_matrix)

print("\nTrain Classification Report:")
print(train_classification_report)

print("\nTest Classification Report:")
print(test_classification_report)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import optuna
from sklearn.model_selection import cross_val_score

# Split the dataset into features (X) and target variable (y)
X = cl1.drop(['Summary'], axis=1)
y = cl1['Summary']



# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


def objective(trial):
    param = {
        'objective': 'multi:softmax',
        'num_class': 5,
        'eval_metric': 'mlogloss',
        'eta': trial.suggest_float('eta', 0.01, 0.3),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0, 0.5),
        'verbosity': 0
    }

    model = AdaBoostClassifier(**param)
    scores = cross_val_score(model, X, y, cv=5)
    accuracy = scores.mean()
    return accuracy

In [ ]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

# Use the best hyperparameters found by Optuna
best_params = study.best_params
model = AdaBoostClassifier(**best_params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

# Generate confusion matrices
train_conf_matrix = confusion_matrix(y_train, y_train_pred)
test_conf_matrix = confusion_matrix(y_test, y_test_pred)

# Generate classification reports
train_classification_report = classification_report(y_train, y_train_pred)
test_classification_report = classification_report(y_test, y_test_pred)

# Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

print("\nTrain Confusion Matrix:")
print(train_conf_matrix)

print("\nTest Confusion Matrix:")
print(test_conf_matrix)

print("\nTrain Classification Report:")
print(train_classification_report)

print("\nTest Classification Report:")
print(test_classification_report)

In [ ]:
### Initial 2 classification models

fsCls = weather_hist
fsCls['Summary'] = fsCls['Summary'].map({0:0,1:0,2:0,3:1,4:1,5:1,6:1,7:1})

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import optuna
from sklearn.model_selection import cross_val_score

# Split the dataset into features (X) and target variable (y)
X = fsCls.drop(['Summary'], axis=1)
y = fsCls['Summary']



# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


def objective(trial):
    param = {
        'objective': 'multi:softmax',
        'num_class': 2,
        'eval_metric': 'mlogloss',
        'eta': trial.suggest_float('eta', 0.01, 0.3),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0, 0.5),
        'verbosity': 0
    }

    model = AdaBoostClassifier(**param)
    scores = cross_val_score(model, X, y, cv=5)
    accuracy = scores.mean()
    return accuracy

In [ ]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

# Use the best hyperparameters found by Optuna
best_params = study.best_params
model = AdaBoostClassifier(**best_params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

# Generate confusion matrices
train_conf_matrix = confusion_matrix(y_train, y_train_pred)
test_conf_matrix = confusion_matrix(y_test, y_test_pred)

# Generate classification reports
train_classification_report = classification_report(y_train, y_train_pred)
test_classification_report = classification_report(y_test, y_test_pred)

# Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

print("\nTrain Confusion Matrix:")
print(train_conf_matrix)

print("\nTest Confusion Matrix:")
print(test_conf_matrix)

print("\nTrain Classification Report:")
print(train_classification_report)

print("\nTest Classification Report:")
print(test_classification_report)

In [ ]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# Assuming weather_hist is your DataFrame containing the data
# Separate features and target variable
X = fsCls.drop(['Summary'], axis=1)
y = fsCls['Summary']

# Apply SMOTE
smote = SMOTE(random_state=42)
X_smote, y_smote = smote.fit_resample(X, y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_smote, y_smote, test_size=0.2, random_state=42)


def objective(trial):
    param = {
        'objective': 'multi:softmax',
        'num_class': 2,
        'eval_metric': 'mlogloss',
        'eta': trial.suggest_float('eta', 0.01, 0.3),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0, 0.5),
        'verbosity': 0
    }

    model = AdaBoostClassifier(**param)
    scores = cross_val_score(model, X, y, cv=5)
    accuracy = scores.mean()
    return accuracy

In [ ]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

# Use the best hyperparameters found by Optuna
best_params = study.best_params
model = AdaBoostClassifier(**best_params)

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

# Generate confusion matrices
train_conf_matrix = confusion_matrix(y_train, y_train_pred)
test_conf_matrix = confusion_matrix(y_test, y_test_pred)

# Generate classification reports
train_classification_report = classification_report(y_train, y_train_pred)
test_classification_report = classification_report(y_test, y_test_pred)

# Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

print("\nTrain Confusion Matrix:")
print(train_conf_matrix)

print("\nTest Confusion Matrix:")
print(test_conf_matrix)

print("\nTrain Classification Report:")
print(train_classification_report)

print("\nTest Classification Report:")
print(test_classification_report)